* {
    margin: 0;
    box-sizing: border-box;
}

:root {
    --hover-color: #1cc2e7;
    --font-color: #94a9c9;
    --main-color: #0F172A;
    --white: #fff;
    --background: #131C31;
    --border-color: #222F43;
    --background: linear-gradient(90deg, #0ea5ea, #0bd1d1 51%, #0ea5ea) var(--x, 0)/200%;
    --box-shadow: rgb(11 209 209 / 20%) 0px 3px 20px;
    --font: 'Noto Sans', sans-serif;
    --topic-color: #b9e0f2;
    --box-back: #131C31;
}

::-webkit-scrollbar {
    width: 10px;
}


::-webkit-scrollbar-track {
    background-color: var(--border-color);
}


::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background-color: var(--hover-color);
}


.container {
    width: 1340px;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
}

.container1 {
    width: 1140px;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
}

.align-items-center {
    align-items: center;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-center {
    justify-content: center;
}

.text-center {
    text-align: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -16px;
    margin-right: -16px;
}

ul,
ol {
    list-style: none;
}

.d-flex {
    display: flex;
    flex-wrap: wrap;
}

a {
    text-decoration: none;
    color: var(--white);
    transition: .5s;
}

a:hover {
    color: var(--hover-color);
}

body {
    font-family: 'Noto Sans';
    background-color: var(--main-color);
}

.transition-5 {
    transition: .5s;
}

.w-1 {
    width: 8.33%;
}

.w-2 {
    width: 16.66%;
}

.w-3 {
    width: 25%;
}

.w-4 {
    width: 33.33%;
}

.w-5 {
    width: 41.66%;
}

.w-6 {
    width: 50%;
}

.w-7 {
    width: 58.33%;
}

.w-8 {
    width: 66.66%;
}

.w-9 {
    width: 75%;
}

.w-10 {
    width: 83.33%;
}

.w-11 {
    width: 91.66%;
}

.w-12 {
    width: 100%;
}

.py-120 {
    padding-top: 120px;
    padding-bottom: 120px;
}

.py-bo-120 {
    padding-bottom: 120px;
}

.py-to-120 {
    padding-top: 120px;
}

.po-rel {
    position: relative;
}

.po-ab {
    position: absolute;
}
.mt-60{
    margin-top: 60px;
}
.top-btn a {
    position: fixed;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid var(--border-color);
    bottom: 20px;
    right: 20px;
    background-color: var(--box-back);
    text-align: center;
    line-height: 50px;
    color: var(--font-color);
}

.top-btn a:hover {
    background: linear-gradient(#131C31, #131C31) padding-box, linear-gradient(to right, rgb(14, 165, 234), rgb(11, 209, 209));
    border-radius: 50%;
    border: 1px solid transparent;
    box-shadow: rgb(11 209 209 / 20%) 0px 3px 20px;
    transform: translateY(-2px);
}

html {
    scroll-behavior: smooth;
}

/* Header */

header {
    width: 100%;
    padding: 10px 0;
    background-color: var(--main-color);
    margin-top: 10px;
    position: sticky;
    top: 0;
    z-index: 999;
    border-bottom: 1px solid var(--border-color);
}

header .topbar {
    background-color: var(--main-color);
}

header .topbar .row {
    padding-top: 10px;
    padding-bottom: 10px;
}


.header .row .logo {
    width: 20%;
}

.logo img {
    width: 100%;
}

nav ul {
    padding: 0 25px;
}

nav ul li {
    padding-top: 10px;
    padding-bottom: 10px;
}

nav ul li {
    margin-right: 10px;
}

nav ul li a {
    padding-left: 10px;
    padding-right: 10px;
    color: var(--font-color);
    font-size: 16px;
    transition: .5s;
}

nav ul li a:hover {
    color: var(--hover-color);
}

.sear-icon a {
    color: var(--font-color);
}

.cta-btn button {
    padding: 10px 16px;
    border-radius: 6px;
    background: linear-gradient(90deg, rgb(14, 165, 234), rgb(11, 209, 209) 51%, rgb(14, 165, 234)) var(--x, 0)/200%;
    border: none;
    transition: .5s;
}

.cta-btn button:hover {
    --x: 100%;
    color: color-white;
    transform: translateY(-3px);

}


.cta-btn .sear-icon a {
    font-size: 20px;
    padding-left: 100px;
    margin-right: 15px;
}

.cta-btn button a {
    font-size: 14px;
    color: var(--white);
}


.dropdown {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    top: 60px;
    left: -15px;
    min-width: 190px;
    max-width: 220px;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    background-color: var(--box-back);
    padding: 15px;
    opacity: 0;
    visibility: hidden;
    z-index: 999;
}


.dropdown-menu li {
    margin: 0;
    padding: 0;
    padding-bottom: 15px;
}

.dropdown-menu li:last-child {
    padding: 0;
}

.dropdown-menu li a {
    display: block;
    padding: 0;
}

.dropdown-menu li a span {
    padding-left: 10px;
    text-align: center;
    font-size: 13px;
}

.dropdown-menu li a i {
    font-size: 10px;
    line-height: 15px;
}

.dropdown:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
}

.mega-dropdown {
    position: absolute;
    top: 72px;
    left: 0;
    width: 100%;
    border: 1px solid var(--border-color);
    background-color: var(--box-back);
    padding: 15px;
    z-index: 999;
    padding: 20px;
    opacity: 0;
    visibility: hidden;
}

.mega_list {
    border-left: 1px solid var(--border-color);
}

.mega_list li {
    margin: 0;
    padding: 0;
    padding-bottom: 15px;
}

.mega_list li:last-child {
    padding: 0;
}

.mega_list li a {
    display: block;
    padding: 0;
}

.mega_list li a span {
    padding-left: 10px;
    text-align: center;
    font-size: 13px;
}

.mega_list li a i {
    font-size: 10px;
    line-height: 15px;
}

.mega_list .image-box {
    width: 40%;
    margin-left: 20px;
}

.mega_list .image-box img {
    width: 100%;
    border-radius: 8px;
}

.mega-drops:hover .mega-dropdown {
    opacity: 1;
    visibility: visible;
}



/* Contact-us */

.contact_us .row h1 {
    font-size: 64px;
    margin-bottom: 30px;
    background: linear-gradient(90deg, rgb(14, 165, 234), rgb(11, 209, 209) 51%, rgb(14, 165, 234)) var(--x, 0)/200%;
    -webkit-background-clip: text;
    color: transparent;
}

.contact_us .row .contact-content {
    font-size: 20px;
    color: var(--font-color);
    padding: 0 70px;
    text-align: center;
    margin-bottom: 30px;
}

.contact_us .row .icon-content {
    width: 55%;
}

.contact_us .row .icon-content .icons_1 span {
    font-size: 40px;
    background: linear-gradient(90deg, rgb(14, 165, 234), rgb(11, 209, 209) 51%, rgb(14, 165, 234)) var(--x, 0)/200%;
    -webkit-background-clip: text;
    color: transparent;
    margin-right: 15px;
}

.contact_us .row .icon-content .icons_1 p {
    font-size: 14px;
    color: var(--font-color);
}


.container .row iframe {
    width: 100%;
    border-radius: 20px;
    margin-bottom: 50px;
}

/* drop-us */

.title h2 {
    font-size: 32px;
    margin-bottom: 10px;
    background: linear-gradient(90deg, rgb(14, 165, 234), rgb(11, 209, 209) 51%, rgb(14, 165, 234)) var(--x, 0)/200%;
    -webkit-background-clip: text;
    color: transparent;
}

.title p {
    font-size: 12px;
    margin-bottom: 10px;
    color: var(--font-color);
}

.inputs {
    padding: 0 12px;
}

.inputs .input-box {
    width: 100%;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
}

.inputs .input-box input {
    width: 100%;
    border: 1px solid var(--border-color);
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--font-color);
}

.inputs .input-box input::placeholder {
    color: var(--font-color);
}

.inputs_form .input-msg {
    width: 100%;
    padding: 0 12px;
}

.inputs_form textarea {
    width: 100%;
    background-color: transparent;
    border: 1px solid var(--border-color);
    outline: none;
    height: 100px;
    padding: 20px;
    color: var(--font-color);
    border-radius: 8px;
    margin-bottom: 20px;
}

.cta-btn button {
    padding: 15px 30px;
    border-radius: 6px;
    background: linear-gradient(90deg, rgb(14, 165, 234), rgb(11, 209, 209) 51%, rgb(14, 165, 234)) var(--x, 0)/200%;
    border: none;
    transition: .5s;
}

.cta-btn button:hover {
    --x: 100%;
    color: color-white;
    transform: translateY(-3px);

}


/* Footer */



.information {
    margin-bottom: 50px;
}

.container .row .foot_box {
    border-radius: 48px;
    border: 1px solid var(--border-color);
    padding: 90px 128px 50px 128px;
    background-color: var(--box-back);
}

.container .row .foot_box .info_1 p {
    color: var(--font-color);
    font-size: 14px;
    line-height: 20px;
    margin: 20px 0;
}

.container .row .foot_box .info_1 .logo {
    width: 35%;
}

.container .row .foot_box .info_1 h6 {
    color: var(--topic-color);
    font-size: 16px;
    margin-bottom: 5px;
}


.container .row .foot_box .info_1 p {
    color: var(--font-color);
    font-size: 14px;
}

.row .foot_box .infor {
    padding-left: 0;
    padding-right: 100px;
}

.row .foot_box .info_2 h6 {
    margin-bottom: 30px;
    color: var(--topic-color);
    font-size: 18px;
}

.info_2 .lists ul {
    padding: 0;
}

.info_2 .lists ul li a {
    color: var(--font-color);
}


.lists ul li {
    margin-bottom: 12px;
}

.row .foot_box .info_2 .lists a:hover {
    color: var(--hover-color);
    padding-left: 3px;
}


.info_2 p {
    color: var(--font-color);
}

.info_2 .info-box {
    margin-top: 15px;
}

.info_2 .info-box .in-input {
    padding: 12px 12px 12px 0;
    color: var(--font-color);
    border-bottom: 1px solid var(--font-color);
    margin-bottom: 24px;
}

.info_2 .info-box .in-input .int_1 {
    background-color: transparent;
    outline: none;
    border: none;
    padding-left: 10px;
    color: var(--white);
}

.info_2 .info-box .in-input .int_1::placeholder {
    color: #7a8086;
}


.foot-info {
    padding-top: 50px;
    border-top: 1px solid var(--border-color);
    margin-top: 40px;
}

.foot-info .fo-in-content p {
    color: var(--white);
}

.foot-info .fo-in-content p span {
    color: var(--hover-color);
}

.foot-info .fo-in-icon a i {
    font-size: 22px;
    padding-right: 8px;
}

.foot-info .fo-in-icon a {
    font-size: 16px;
    color: var(--font-color);
}

.foot-info .fo-in-icon .in-icon_1 {
    margin-left: 50px;
    transition: .5s;
}

.foot-info .fo-in-icon .in-icon_1:hover a {
    color: var(--hover-color);
    transform: translateY(-2px);
}

.ham{
    color: var(--font-color);
    font-size: 25px;
    line-height: 50px;
    margin-left: 15px;
}